<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Vidaloka" rel="stylesheet"> 
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
 

<p id="notice"><%= notice %></p>

<h1>Classe tes séries</h1>

<table>
  <thead>
    <tr>
      <br>
        <th>Nom</th>
        <th>Genre</th>
        <th>Synopsis</th>
        <th class="note">Note</th>
        <th colspan="3"></th>
      </br>
    </tr>
  </thead>

  <tbody>
    <% @classement_series.each do |classement_series| %>

      <tr>
      <div class="row">
        <div class="col-lg-4"> </div>
        <td><%= classement_series.nom %></td>
        <td><%= classement_series.genre %></td>
        <td><%= classement_series.synopsis %></td>
        <td><%= classement_series.note %>
          

    <div class="note">
      <form action="">

      <input class="star star-5" id="star-5" type="radio" name="star"/>
      <label class="star star-5" for="star-5"></label>
      <input class="star star-4" id="star-4" type="radio" name="star"/>
      <label class="star star-4" for="star-4"></label>
      <input class="star star-3" id="star-3" type="radio" name="star"/>
      <label class="star star-3" for="star-3"></label>
      <input class="star star-2" id="star-2" type="radio" name="star"/>
      <label class="star star-2" for="star-2"></label>
      <input class="star star-1" id="star-1" type="radio" name="star"/>
      <label class="star star-1" for="star-1"></label>

    </form>
    </div>

  </div>
        </td>
            
        <td><%= link_to 'Voir', classement_series %></td> 
        <td><%= link_to 'Modifier', edit_classement_series_path(classement_series) %></td>
        <td><%= link_to 'Supprimer', classement_series, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>
    
<%= link_to 'Ajouter une nouvelle série', new_classement_series_path %>

