<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
 

<p id="notice"><%= notice %></p>

<p>
  <br> <strong>Nom:</strong> </br>
  <%= @classement_series.nom %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @classement_series.genre %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @classement_series.synopsis %>
</p>

<p>
  <strong>Note:</strong>
  <%= @classement_series.note %>
 <div class="stars">

    <form action="">

      <input class="star star-5" id="star-5" type="radio" name="star"/>
      <label class="star star-5" for="star-5"></label>
      <input class="star star-4" id="star-4" type="radio" name="star"/>
      <label class="star star-4" for="star-4"></label>
      <input class="star star-3" id="star-3" type="radio" name="star"/>
      <label class="star star-3" for="star-3"></label>
      <input class="star star-2" id="star-2" type="radio" name="star"/>
      <label class="star star-2" for="star-2"></label>
      <input class="star star-1" id="star-1" type="radio" name="star"/>
      <label class="star star-1" for="star-1"></label>

    </form>

  </div>
  </p>


<%= link_to 'Modifier', edit_classement_series_path(@classement_series) %> |
<%= link_to 'Retour', classement_series_index_path %>
